<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2015 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanilock.android.mircastle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".Exhibit1Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Exhibit1Activity" />
        </activity>
        <activity
            android:name=".Exhibit1Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Exhibit2Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Exhibit3Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Exhibit4Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Exhibit5Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Exhibit6Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Exhibit7Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Exhibit2DetailActivity"
            android:parentActivityName=".Exhibit2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Exhibit2Activity" />
        </activity>
        <activity
            android:name=".Exhibit3DetailActivity"
            android:parentActivityName=".Exhibit3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Exhibit3Activity" />
        </activity>
        <activity
            android:name=".Exhibit4DetailActivity"
            android:parentActivityName=".Exhibit4Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Exhibit4Activity" />
        </activity>
        <activity
            android:name=".Exhibit5DetailActivity"
            android:parentActivityName=".Exhibit5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Exhibit5Activity" />
        </activity>
        <activity
            android:name=".Exhibit6DetailActivity"
            android:parentActivityName=".Exhibit6Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Exhibit6Activity" />
        </activity>
        <activity
            android:name=".Exhibit7DetailActivity"
            android:parentActivityName=".Exhibit7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Exhibit7Activity" />
        </activity>
        <activity
            android:name=".FilmActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".HistoryActivity"
            android:parentActivityName=".MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DetailHistoryActivity"
            android:parentActivityName=".HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HistoryActivity" />
        </activity>
        <activity android:name=".Detail2HistoryActivity"
            android:parentActivityName=".HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HistoryActivity" />
        </activity>
    </application>

</manifest>